@import '@/assets/vars.less';
@header-height: 52px;
@hr: header-right;

.ant-layout {
  height: 100%;
  background-color: #f4f7fa;
}

.ant-layout-header {
  height: 52px;
  box-shadow: inset 0 -1px 0 0 @border-color;
  background-color: #fff;
  line-height: 52px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;

  .header-left {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
  }

  .header-user-avatar {
    height: @header-height;
    display: flex;
    align-items: center;
    cursor: pointer;

    .ant-avatar {
      background-color: @primary-color;
    }
  }

  .@{hr} {
    display: flex;
    align-items: center;
    padding-right: 18px;
  }

  .@{hr}-item {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  .@{hr}-item-icon {
    font-size: 18px;
    color: @tip-font-color;
  }

  .@{hr}-x {
    color: red;
  }

  .logo {
    color: @primary-color;
    display: flex;
    align-items: center;

    .svg-icon {
      height: 28px;
      width: (2789px / 1024px * $height);
    }
  }
}

/deep/ .ant-layout-sider {
  background-color: #f7f8fa;
  position: relative;
  padding-top: 12px;
  box-shadow: inset -1px 0 0 0 #E9EBEE;

  .ant-menu {
    background-color: transparent;
  }

  .nav-menu {
    border-right: 0;
    height: calc(100% - 52px - 12px);
    overflow-y: auto;
    overflow-x: hidden;

    .ant-menu-submenu-title,
    .ant-menu-item {
      width: auto;
      margin: 0 10px;
      position: relative;

      // &::after {
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   border-top: 6px solid red;
      //   opacity: 0.3;
      //   top: 50%;
      //   margin-top: -3px;
      //   content: '';
      // }
    }

    >.ant-menu-submenu,
    >.ant-menu-item {
      margin-top: 4px;
    }

    >.ant-menu-item-selected {
      background-color: transparent;
      border-radius: 3px;
      background-color: #e7ecfb;

      &::after {
        display: none;
      }
    }

    .ant-menu-sub {

      >.ant-menu-item:hover,
      >.ant-menu-item-selected {
        border-radius: 3px;
        background-color: #e7ecfb;

        &::after {
          display: none;
        }
      }

      .ant-menu-item {
        padding-left: 10px + 14px + 10px !important;

        +.ant-menu-item {
          margin-top: 4px;
        }
      }
    }


    &.ant-menu-inline-collapsed {
      width: 56px;


      >.ant-menu-item,
      >.ant-menu-submenu>.ant-menu-submenu-title {
        padding: 0 10px !important;
      }
    }

    .ant-menu-submenu-arrow {
      transform: translateY(1px);

      &::after,
      &::before {
        width: 7px;
        height: 1px;
        transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

      &::before {
        transform: rotate(-45deg) translateX(3px);
      }

      &::after {
        transform: rotate(45deg) translateX(-3px);
      }
    }

    .ant-menu-submenu-open {
      .ant-menu-submenu-arrow {
        transform: translateY(-3px);

        &::before {
          transform: rotate(45deg) translateX(3px);
        }

        &::after {
          transform: rotate(-45deg) translateX(-3px);
        }
      }
    }
  }

  .sider-bottom {
    height: 52px;
    box-shadow: inset 0 1px 0 0 @border-color;
    text-align: right;
    line-height: $height;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    .fold-sider {
      cursor: pointer;
      color: @tip-font-color;
      font-size: 16px;

      &:hover {
        color: @primary-color;
      }
    }

  }

}
